<h1 align="center">Show students</h1> <br/>

<div class="container">

    <table class="table table-bordered table-sm table-hover table-striped">

        <thead>
            <tr align="center">
                <th class="bg-info text-white">StuId</th>
                <th class="bg-info text-white">StuName</th>
                <th class="bg-info text-white">Fee</th>
                <th class="bg-info text-white">Gender</th>
                <th class="bg-info text-white">Course</th>
                <th class="bg-info text-white">DOJ</th>
                <th class="bg-info text-white">NOOFYEARS</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let stu of students" align="center">
                <td>{{stu.stuId}}</td>
                <td>{{stu.stuName | gender: stu.gender | uppercase }}</td>
                <td>{{stu.fee  | currency:'INR'}}</td>
                <td>{{stu.gender  | lowercase}}</td>
                <td>{{stu.course}}</td>
                <td>{{stu.doj     | date:'dd-MMM-yyyy'}}</td>
                <td>{{stu.doj     | noofyears}}</td>
            </tr>
        </tbody>

    </table>

</div>


