<h1 align="center">GetStudentById</h1> <br/>

<div class="container">
    <form #stuForm="ngForm" (ngSubmit)="getstudent(stuForm.value)" align="center"> 
        Enter StuID: <input type="text" name="stuId" ngModel /> <br/><br/>
        <button>GetStudent</button>
    </form> 
</div>
<br/>

<div class="container" *ngIf="stu;else noStu">

    <table class="table table-bordered table-sm table-hover table-striped">

        <thead>
            <tr align="center">
                <th class="bg-info text-white">StuId</th>
                <th class="bg-info text-white">StuName</th>
                <th class="bg-info text-white">Fee</th>
                <th class="bg-info text-white">Gender</th>
                <th class="bg-info text-white">Course</th>
                <th class="bg-info text-white">DOJ</th>
            </tr>
        </thead>

        <tbody>
            <tr align="center">
                <td> {{stu.stuId}}   </td>
                <td> {{stu.stuName}} </td>
                <td> {{stu.fee}}  </td>
                <td> {{stu.gender}}  </td>
                <td> {{stu.course}} </td>
                <td> {{stu.doj}}     </td>
            </tr>
        </tbody>
    </table>

</div>

<ng-template #noStu>
<div class="container" >
    <h1 style="color: red;" align="center">{{msg}}</h1>
</div>
</ng-template>
