
<p>login works!</p>

<h1>Login Form</h1>

<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
    <table>
        <tr>
            <td>Enter EmailId</td>
            <td> <input type="email" name="email" ngModel required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{5,}$"></td>
        </tr>
        <tr>
            <td>Enter Password</td>
            <td><input type="password" name="password" ngModel required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}"></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit" [disabled]="!loginForm.valid">Login</button></td>
        </tr>
    </table>

    <div>
        <div *ngIf="emailId.errors?.['required'] && emailId.touched"   style="color:red;">Please Enter EmailId</div>
        <div *ngIf="password.errors?.['required'] && password.touched" style="color:red;">Please Enter Password</div>
    
        <div *ngIf="emailId.errors?.['minlength'] && emailId.touched"   style="color:red;">Please Enter atleast 2 Characters for EmailId</div>
        <div *ngIf="password.errors?.['minlength'] && password.touched" style="color:red;">Please Enter atleast 2 Characters for Password</div>
    </div>

</form>



<!--
Enter EmailId:  <input type="text"     name="emailId"  [(ngModel)]="emailId"  /> <br/>
Enter Password: <input type="password" name="password" [(ngModel)]="password"  /> <br/>
<button (click)="submit()"> Login </button>
-->
