
<p>register works!</p>

<h1>Student Registration</h1>


<form #regForm="ngForm" (ngSubmit)="registerSubmit(regForm.value)">

	<table>
		<tbody>
            <tr>
				<td>StuId</td>
				<td><input type="text" name="stuId" ngModel  /></td>
			</tr>
			<tr>
				<td>StuName</td>
				<td><input type="text" name="stuName" ngModel/></td>
			</tr>
			<tr>
				<td>Fee</td>
				<td><input type="text" name="fee" ngModel /></td>
			</tr>
			<tr>
				<td>Gender</td>
				<td>
					<select name="gender" ngModel>
						<option value="" selected>Select Gender</option>
						<option value="Male">Male</option>
						<option value="Female">Female</option>
						<option value="Others">Others</option>
					</select>
				</td>
			</tr>
            <tr>
				<td>DateOfJoin</td>
				<td><input type="date" name="doj" ngModel /></td>
			</tr>
            <tr>
				<td>Course</td>
				<td>
					<select name="course" ngModel>
						<option value="" selected>Select Course</option>
						<option value="BE">Bachelor of Engineering</option>
						<option value="ME">Master of Engineering</option>
						<option value="M.Tech">Master of Technology</option>
                        <option value="B.COM">Bachelor of Commerce</option>
					</select>
				</td>
			</tr>
			<tr>
                <td>Enter EmailId</td>
                <td> <input type="email" name="email" ngModel required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"></td>
            </tr>
            <tr>
				
                <td>Enter Password</td>
                <td><input type="password" name="password" ngModel required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}"></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit" [disabled]="!regForm.valid">Register</button></td>
            </tr>
		</tbody>
	</table>
</form>
