<p>test works!</p>
id: {{id}} <br/>
name: {{name}} <br/>
age: {{age}} <br/><br/>


<h3> Hobbies</h3>
<ul>
    <li *ngFor="let hobby of hobbies">{{hobby}} </li>
</ul>

<h3>Address</h3>
StreetNo: {{address.streetNo}} <br/>
City: {{address.city}} <br/>
State: {{address.state}} <br/><br/>