

<!-- <app-register></app-register> -->
<!-- <app-login></app-login>  -->
<!-- <app-showemployees></app-showemployees> -->
<!-- <app-showempbyid></app-showempbyid> -->

<app-header></app-header>

<br/>
<marquee><h1 style="color: red;">Welcome to Angular Routing</h1></marquee>
<br/>

<router-outlet></router-outlet>